<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Client Importer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />




</head>

<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(clients)}">
        <table class="table table-stripped">
            <tr>
                <th>Nr klienta</th>
                <th>Nazwa</th>
                <th>Region</th>
                <th>Branża</th>
                <th>Telefon</th>
                <th>E-mail</th>
                <th>Data założenia działalności</th>

            </tr>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.name}"></td>
                <td th:text="${client.region}"></td>
                <td th:text="${client.branch}"></td>
                <td th:text="${client.phoneNumber}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.dateOfEstablish}"></td>


            </tr>
        </table>
    </div>

</div>
<a href= "${/client.id} + @{/note}" class="btn btn-default btn-lg">
    Dodaj notatke
</a>

</body>
</html>