<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Client Importer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



</head>

<body>

<div class="container">

    <div>
        <br>/clientlist - lista klientów </br>
        <br>  /clientlist/id - szczegóły klienta </br>
        <br> /clientlist/id/note - dodawanie notatki </br>
    </div>


</div>


</body>
</html>


